body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: 'Montserrat SemiBold';
  src: url('../public/fonts/Montserrat.ttf') format('truetype');
}

.navbar {
  font-family: 'Montserrat', sans-serif;
}

.image {
  overflow: hidden;
}

.login {
  margin-top: 8%;
}

.signup {
  margin-top: 8%;
}

.med-det {
  margin-top: 11%;
}

.add-med {
  margin-top: 10%;
}

.edit {
  margin-top: 8%;
}

.logout{
  cursor: pointer;
}
